<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary px-5 py-4 justify-content-between align-items-center">
   <div>
      <%= link_to "Time to Answer", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   </div>
   <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav gap-3">
         <li class="nav-item active">
            <%= link_to users_backoffice_welcome_index_path, class:"nav-link" do %>
               <i class="fa fa-home fa-fw"></i>
               <b><%= t('navbar.home') %></b>
               <span class="sr-only">(current)</span>
            <% end %>
         </li>

         <%# LOG OUT %>
         <li class="nav-item dropdown d-flex">
            <%= image_tag avatar_url, alt:"...", class:"img-circle profile__img-nav shadow-sm mt-1", id:"imgAvatarNav"%>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
               <b><%= current_user.email %></b>
            </a>

            <ul class="dropdown-menu mt-5">
               <li>
                  <%= link_to users_backoffice_profile_path, class:"ps-3" do %>
                     <i class="fa fa-edit fa-fw"></i> <%= t('navbar.edit_profile') %>
                  <% end %>
               </li>
               <div class="dropdown-divider"></div>
               <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"ps-3" do %>
                     <i class="fa fa-sign-out fa-fw"></i> <%= t('navbar.logout') %>
                  <% end %>
               </li>
            </ul>
         </li>
      </ul>
   </div>      
</nav>
