<!DOCTYPE html>
<html>
   <head>
      <title>Time to Answer</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'site' %>

      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
   </head>

   <body>
      <%= render partial: "shared/login" %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'site' %>
      
      <% if notice %>
        <%= javascript_tag do %>
            $.bootstrapGrowl('<%= notice %>', {
            type: 'success', // (null, 'info', 'danger', 'success')
            align: 'right', // ('left', 'right', or 'center')
            allow_dismiss: true, // If true then will display a cross to close the popup.
            stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        <% end %>
    <% end %>
   </body>
</html>