<div class="bg-white w-25 border border-secondary border-opacity-25 rounded-3">
  <div class="bg-primary w-100 rounded-top p-3">
    <h4 class="text-white mb-0">Login Administrativo</h4>
  </div>

  <div class="px-4 py-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
      <div class="form-group pb-3">
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
      </div>

      <div class="form-group pb-3">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>

      <div class="d-flex flex-column gap-3">
        <% if devise_mapping.rememberable? %>
          <label>
            <%= f.check_box :remember_me %> Lembrar-me
          </label>
        <% end %>
      
        <%= f.submit "Login", class: "btn btn-lg btn-primary btn-block" %>
      </div>
      
    <% end %>
  </div>
  <%# render "admins/shared/links" %> 
</div>
