<!DOCTYPE html>
<html>
  <head>
    <title>Time to Answer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admin_devise' %>
  </head>

   <body>
      <div class="d-flex justify-content-center align-items-center flex-column bg-light vh-100">
         <%= yield %>
      </div>

      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'admin_devise' %>      

      <% if flash %>
         <% flash.each do |key, value| %>
            <%= javascript_tag do %>
               $.bootstrapGrowl("<%= value %>", {
                  type: 'danger',
                  align: 'right',
                  allow_dismiss: false,
                  stackup_spacing: 10
               });
            <% end %>
         <% end %>
      <% end %>
   </body>

</html>
